<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List Category</h1>
<a href="/admin/categories/create">Create new</a>
<ul>
    <%for (var i = 0; i < listData.length; i++){%>
    <li><%=listData[i].name%></li>
    <%}%>
</ul>
<div>
    <%
    if(parseInt(page) > 1){
    %>
    <span>
        <a href="/admin/categories/list?page=<%=parseInt(page)-1%>&limit=<%=limit%>">
            <%= parseInt(page) - 1%></a>
    </span>
    <%
    }
    %>
    <span><%= page%></span>
    <%
    if(parseInt(page) < parseInt(totalPage)){
    %>
    <span>
        <a href="/admin/categories/list?page=<%=parseInt(page)+1%>&limit=<%=limit%>">
            <%= parseInt(page) + 1%></a>
    </span>
    <%
    }
    %>
</div>
</body>
</html>